<launch>
  <!-- camera -->
  <node name="cam_high" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/CAM_HIGH"/>
    <param name="pixel_format" value="yuyv"/>
  </node>

  <node name="cam_low" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/CAM_LOW"/>
    <param name="pixel_format" value="yuyv"/>
  </node>

  <node name="cam_left_wrist" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/CAM_LEFT_WRIST"/>
    <param name="pixel_format" value="yuyv"/>
  </node>

  <node name="cam_right_wrist" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/CAM_RIGHT_WRIST"/>
    <param name="pixel_format" value="yuyv"/>
  </node>

      
</launch>

